<launch>
  <node pkg="rosbag" type="play" name="rosbag" args="-d 2 /home/simon/udacity/carnd/term3/CarND-Capstone/data/813888_2017-10-26-12-26-22.bag"/>
  <node name="extract" pkg="image_view" type="image_saver" respawn="false" output="screen" cwd="ROS_HOME">
    <remap from="image" to="image_raw"/>
  </node>
</launch>
