<?xml version="1.0"?>
<launch>
    <!-- Simulator Bridge -->
    <include file="$(find styx)/launch/server.launch" />

    <!-- Screen Capture -->
    <include file="$(find screen_capture)/launch/screen_capture.launch"/>

    <!-- Site launch or styx launch? -->
    <param name="is_site_launch" value="False" />

</launch>
